In [1]:
import pandas as pd
df_visit = pd.read_csv('지역별 방문자 수.csv', encoding='cp949')
df_visit

      기초지자체명  기초지자체 방문자 수  기초지자체 방문자 비율
0        가평군   26575806.0           1.4
1    고양시 덕양구   62100704.0           3.3
2   고양시 일산동구   56930645.0           3.1
3   고양시 일산서구   40796996.0           2.2
4        과천시   20667626.0           1.1
5        광명시   40108714.0           2.2
6        광주시   46698309.0           2.5
7        구리시   45131622.0           2.4
8        군포시   25934596.0           1.4
9        김포시   50811160.0           2.7
10      남양주시   71622652.0           3.8
11      동두천시   10157770.0           0.5
12       부천시   36110134.0           1.9
13   부천시 소사구   13126159.0           0.7
14   부천시 오정구   10260254.0           0.6
15   부천시 원미구   31963811.0           1.7
16   성남시 분당구   86249819.0           4.6
17   성남시 수정구   43818467.0           2.4
18   성남시 중원구   25775948.0           1.4
19   수원시 권선구   44697503.0           2.4
20   수원시 영통구   59338058.0           3.2
21   수원시 장안구   42844708.0           2.3
22   수원시 팔달구   67637505.0           3.6
23       시흥시   53704438.0           2.9
24   안산시 단원구   52807675.0           2.8
25   안산시 상록구   27294925.0           1.5
26       안성시   34840466.0           1.9
27   안양시 동안구   40991090.0           2.2
28   안양시 만안구   29679387.0           1.6
29       양주시   34473530.0           1.8
30       양평군   29618753.0           1.6
31       여주시   24910049.0           1.3
32       연천군    9277392.0           0.5
33       오산시   29113767.0           1.6
34   용인시 기흥구   59281294.0           3.2
35   용인시 수지구   35657725.0           1.9
36   용인시 처인구   48792262.0           2.6
37       의왕시   29202384.0           1.6
38      의정부시   43760702.0           2.3
39       이천시   36507356.0           2.0
40       파주시   52661154.0           2.8
41       평택시   48990995.0           2.6
42       포천시   28184555.0           1.5
43       하남시   55741155.0           3.0
44       화성시   98698377.0           5.3

In [2]:
#컬럼명 변경
df_visit = df_visit.rename(columns={'기초지자체명':'시군명', '기초지자체 방문자 수':'관광객수', '기초지자체 방문자 비율':'관광객비율'})

In [3]:
#전처리
# 시군명 통합
df_visit['시군명'] = df_visit['시군명'].replace({'고양시 덕양구': '고양시','고양시 일산동구': '고양시','고양시 일산서구': '고양시'})
df_visit['시군명'] = df_visit['시군명'].replace({'부천시 소사구': '부천시','부천시 오정구': '부천시','부천시 원미구': '부천시'})
df_visit['시군명'] = df_visit['시군명'].replace({'성남시 분당구': '성남시','성남시 수정구': '성남시','성남시 중원구': '성남시'})
df_visit['시군명'] = df_visit['시군명'].replace({'수원시 권선구': '수원시','수원시 영통구': '수원시','수원시 장안구': '수원시', '수원시 팔달구':'수원시'})
df_visit['시군명'] = df_visit['시군명'].replace({'안산시 단원구': '안산시','안산시 상록구': '안산시'})
df_visit['시군명'] = df_visit['시군명'].replace({'안양시 동안구': '안양시','안양시 만안구': '안양시'})
df_visit['시군명'] = df_visit['시군명'].replace({'용인시 기흥구': '용인시','용인시 수지구': '용인시','용인시 처인구': '용인시'})

In [4]:
# 관광객수 집계
df_visit = df_visit.groupby('시군명', as_index=False).agg({'관광객수': 'sum'})
df_visit['관광객수'] = df_visit['관광객수'].astype(int)
df_visit

     시군명       관광객수
0    가평군   26575806
1    고양시  159828345
2    과천시   20667626
3    광명시   40108714
4    광주시   46698309
5    구리시   45131622
6    군포시   25934596
7    김포시   50811160
8   남양주시   71622652
9   동두천시   10157770
10   부천시   91460358
11   성남시  155844234
12   수원시  214517774
13   시흥시   53704438
14   안산시   80102600
15   안성시   34840466
16   안양시   70670477
17   양주시   34473530
18   양평군   29618753
19   여주시   24910049
20   연천군    9277392
21   오산시   29113767
22   용인시  143731281
23   의왕시   29202384
24  의정부시   43760702
25   이천시   36507356
26   파주시   52661154
27   평택시   48990995
28   포천시   28184555
29   하남시   55741155
30   화성시   98698377

In [5]:
df_visit.to_csv('관광객수.csv')
df_visit

     시군명       관광객수
0    가평군   26575806
1    고양시  159828345
2    과천시   20667626
3    광명시   40108714
4    광주시   46698309
5    구리시   45131622
6    군포시   25934596
7    김포시   50811160
8   남양주시   71622652
9   동두천시   10157770
10   부천시   91460358
11   성남시  155844234
12   수원시  214517774
13   시흥시   53704438
14   안산시   80102600
15   안성시   34840466
16   안양시   70670477
17   양주시   34473530
18   양평군   29618753
19   여주시   24910049
20   연천군    9277392
21   오산시   29113767
22   용인시  143731281
23   의왕시   29202384
24  의정부시   43760702
25   이천시   36507356
26   파주시   52661154
27   평택시   48990995
28   포천시   28184555
29   하남시   55741155
30   화성시   98698377

In [6]:
df_people = pd.read_excel('경기도 인구통계.xlsx')
df_people = df_people[['시군명','총인구']]
df_people

     시군명      총인구
0    수원시  1234200
1    용인시  1102076
2    성남시   933777
3    화성시  1001880
4    부천시   801326
5    안산시   677747
6    평택시   624731
7    안양시   553017
8    시흥시   557487
9    김포시   510263
10   광주시   407192
11   광명시   281279
12   하남시   332623
13   군포시   264822
14   오산시   246952
15   이천시   232528
16   안성시   206208
17   의왕시   156661
18   양평군   127921
19   여주시   119463
20   과천시    85177
21   고양시  1085432
22  남양주시   742060
23   파주시   520964
24  의정부시   467486
25   양주시   289781
26   구리시   187771
27   포천시   157720
28  동두천시    91493
29   가평군    63633
30   연천군    42548

In [9]:
인구수 = pd.merge(df_visit,df_people, on ='시군명', how = 'left')
인구수.head()

   시군명       관광객수      총인구
0  가평군   26575806    63633
1  고양시  159828345  1085432
2  과천시   20667626    85177
3  광명시   40108714   281279
4  광주시   46698309   407192

In [13]:
data3 = pd.read_csv('Data3_전처리.csv')

정민군집화데이터 = pd.merge(data3,인구수, on ='시군명', how = 'left')
정민군집화데이터.to_csv('정민군집화데이터.csv')